.side {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 30vw;
}

.icon {
    height: 20px;
    margin-right: 5px;
}


.description {
    color: var(--black);
    background-color: var(--white);
}

.description-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 25px 0px;
}

.description-title-main {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.description-title-sub {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin: 10px 0px;
}

.description-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
}

.description-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 25px 0px;
    align-self: stretch;
}

.description-info-element {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.methods {
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
}

.method-1, .method-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 50px;
}

.methods-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin: 30px 0px;
}

.methods-description {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
}